modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3001

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["google-drive:1.0.0", "github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ONIX_API_TOKEN = "TciVSyNdPiz3nAE4JrncbPFdoJ8uXwEFuDBJToYxirsPkaYOJNpS8fLY_sismdE77Yst9I5q_ooeCNRrMV2z159Al4Qi7ETcElCzMbeZshx_2ArJJgYm8P0szZfjVwt140_s-Brkn5YNjnzyBSkwqnRUbImWBLTKsjq2zMSAj0jHkOu7khula8w4m9olyggJPtY5pN8P_ibIwxiujUunRWFqcPlWE-vXsWfAA6MgvP8"
ONIX_DATABASE_PATH = "testovacia_hauerland"
ONIX_PROD_API_TOKEN = "dvSnEV5TDClIvwAQ_HQWMdXctpxQtmX1a15vkBwuLyPTSKLCznMoWh-3SQiLBv3MSn22lgYAOfeiHR_diION8Y3kSGkqZxI1HDBZP4AD-o1ciaUz14OaM-olE5DRQSGVihzLAJVVLhRrtPPO7WWE4Y7kU8YujRcHO_0174JSSGneC2IyNEaPOl4EdWKxW5zhgaEkCDlC6N_DwD6gU0MdCYce43mBsp0R_jTo0O_Ei2I"
ONIX_PROD_DATABASE_PATH = "hauerland_spol_s_ro"
